  <section id="one">
    <h1>A book new world</h1>
  </section>


  
  <section id="two">
    <h2>Royalties are dead! Long live Royalties?</h2>
    <div class="crown"></div>
    <div class="sceptre"></div>


    
  </section>
