<h1>Bestsellers</h1>

<p>Today</p>
<section class="bestsellers">
  <div class= "row show-grid">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2">book1</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book2</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book3</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book4</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book5</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book6</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book7</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book8</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book9</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book10</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book11</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book12</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book13</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book14</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book15</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book16</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book17</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book18</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book19</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book20</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book21</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book22</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book23</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book24</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book25</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book26</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book27</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book28</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book29</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book30</div>
    </div>
  </div>
</section>

<p>This week</p>
<section class="bestsellers">
  <div class= "row show-grid">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2">book1</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book2</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book3</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book4</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book5</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book6</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book7</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book8</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book9</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book10</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book11</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book12</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book13</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book14</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book15</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book16</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book17</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book18</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book19</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book20</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book21</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book22</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book23</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book24</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book25</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book26</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book27</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book28</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book29</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book30</div>
    </div>
  </div>
</section>

<p>This month</p>
<section class="bestsellers">
  <div class= "row show-grid">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2">book1</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book2</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book3</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book4</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book5</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book6</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book7</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book8</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book9</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book10</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book11</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book12</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book13</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book14</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book15</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book16</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book17</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book18</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book19</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book20</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book21</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book22</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book23</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book24</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book25</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book26</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book27</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book28</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book29</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book30</div>
    </div>
  </div>
</section>

<p>All time</p>
<section class="bestsellers">
  <div class= "row show-grid">
    <div class="row">
      <div class="col-xs-6 col-sm-4 col-md-2">book1</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book2</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book3</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book4</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book5</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book6</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book7</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book8</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book9</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book10</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book11</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book12</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book13</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book14</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book15</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book16</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book17</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book18</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book19</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book20</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book21</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book22</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book23</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book24</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book25</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book26</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book27</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book28</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book29</div>
      <div class="col-xs-6 col-sm-4 col-md-2">book30</div>
    </div>
  </div>
</section>
