<h1>All Authors</h1>

<section class="user_index_page">
  <div class= "row show-grid">
    <div class="row">
        <% @users.each do |user| %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <%= link_to user do %>
          <div class="thumbnail">
            <%= image_tag user.image, class: 'cateory_image' %>
            <div class="caption">
              <h4 class="category_thumbnail_caption"><%= user.name %></h4>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
    </div>
  </div>
</section>

