
<div class="row">
  <div class="col-sm-4">
    <%= image_tag @user.image, class: 'user_show_image' %>
  </div>
  <div class="col-sm-8">
    <p class="user_show_about"><%= @user.about %></p>
  </div>
</div>

<h1>Bibliography</h1>


<h1>Favourite Books</h1>