<section class="book_index_page">
  <div class= "row show-grid">
    <div class="row">
        <% @books.each do |book| %>
        <div class="col-xs-6 col-sm-4 col-md-3">
          <%= link_to book do %>
          <div class="thumbnail">
            <%= image_tag book.cover_picture, class: 'category_image' %>
            <div class="caption">
              <h4 class="category_thumbnail_caption"><%= book.name %></h4>
            </div>
          </div>
          <% end %>
        </div>
        <% end %>
    </div>
  </div>
</section>


