body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

html, body {
  height: 100%;  
}

.page_wrap {
  min-height: 100%;
  margin-bottom: -40px;
}

.navbar {
  margin-bottom: 0px;
}

.nav_3 {
  width: 103%;
}

.nav_2 {
  width: 25%;
}

.form-control {
  width: 250px;
}

.site_footer, .page-wrap:after {
  margin-top: 50px;
  border-top: 1px solid black;
  width: 100%;
  text-align: center;
  height: 40px;
}

.site_footer li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: inline-block;
  padding: 10px 0px 10px 0px;
  font-size: 12px;
}

.show-grid{
margin-top: 10px;
margin-bottom: 10px;
background-color: #eee;
background-color: rgba(86,61,124,.15);
border: 1px solid #ddd;
border: 1px solid rgba(86,61,124,.2);
}

.show-grid div {
border: 1px solid rgba(86,61,124,.2);
}

.row {
  margin: 5px 20px 5px 20px;
}
