body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

html, body {
  height: 100%;  
}

.page_wrap {
  min-height: 100%;
  margin-bottom: -60px;
}

.navbar {
  margin-bottom: 0px;
}

.nav_3 {
  width: 103%;
}

.nav_2 {
  width: 25%;
}

.form-control {
  width: 250px;
}

.site_footer, .page-wrap:after {
  margin-top: 80px;
  width: 100%;
  text-align: center;
  height: 60px;
  background-color: #333333;
  color: white;
}

.site_footer li {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 15px;
  display: inline-block;
  padding: 20px 0px 10px 0px;
  font-size: 12px;
}

.site_footer a {
  text-decoration: none;

}

/*.show-grid{
margin-top: 10px;
margin-bottom: 10px;
background-color: #eee;
background-color: rgba(86,61,124,.15);
border: 1px solid #ddd;
border: 1px solid rgba(86,61,124,.2);
}

.show-grid div {
border: 1px solid rgba(86,61,124,.2);
}*/

.row {
  margin: 5px 20px 5px 20px;
}

.category_index_page {
  padding-top: 20px;
}

.thumbnail {
  height: 400px;
  background-image: -webkit-linear-gradient(top, #B2B2FF, #E6E6FF);
  position: relative;
}

.thumbnail:hover {
  border: 4px solid blue;
  cursor: pointer;
}

.book_image {
  width: 60%;
  height: auto;
  padding-top: 5px;
  border-radius: 5px;
}

.category_image {
  width: 95%;
  height: auto;
  padding-top: 5px;
  border-radius: 5px;
}

.category_thumbnail_caption {
  position: absolute;
  bottom: 2%;
  left: 7%;
  border: 2px solid black;
  width: 85%;
  border-radius: 5px;
  background-color: #FAFAEE;
  min-height: 30px;
/*  margin-left: -53px;*/
}

.category_thumbnail_caption h5 {
  padding-left: 10px;
}

.search_input {
  display: inline;
}

#q_name_or_user_name_cont {
  width: 250px;
  border-radius: 5px;
  padding: 6px 7px 6px 7px;

}

.navbar-left {
  padding-left: 20px;
}

.user_show_image {
  width: 90%;
  height: auto;
  border-radius: 10px;
  margin: 20px;
}

.user_show_about {
  font-size: 14px;
  line-height: 22px;
  margin: 20px;
}

h1 {
  margin-left: 40px;
}

.search_submit{
  display: inline;
}

.search_submit input {
  padding: 6px 7px 5px 7px;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
  margin-top: 7px;
}

*, *:after, *:before { 
  -moz-box-sizing: border-box; 
  -ms-box-sizing: border-box; 
  box-sizing: border-box; 
}

#one {
  background: url("new_world.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  height: 800px;

}

#two {
  background: #FFFFFF;
  position: relative;
  height: 800px;

}

section h1 {
  color: white;
  top: 15%;
  left: 35%;
  position: absolute;

}

section h2 {
  bottom: 45%;
  left: 25%;
  color: #333333;
  position: absolute;

}

.crown {
  content: url("crown.jpg");
  -webkit-transform: rotate(-35deg);
  position: absolute;
  display: inline;
  bottom: 45%;
  left: 10%;
  height: 200px;
  width: auto;
}

.sceptre {
  content: url("sceptre.jpg");
  -webkit-transform: rotate(-45deg);
  position: absolute;
  display: inline;
  bottom: 40%;
  left: 75%;
  height: 200px;
  width: auto;
}

.footer_pages {
  padding: 50px;
}

.input_pages {
  padding: 20px;
  border: 3px solid #333333;
  border-radius: 10px;
  width: 300px;
  height: auto;
  margin-top: 50px;
  margin-left: 30px;
}

#book_description {
  width: 250px;
}

#comment_content {
  width: 250px;
}

.basket_button {
  background-color: green;
  padding: 6px 7px 5px 7px;
  border-radius: 5px;
  font-family: 'Lato', sans-serif;
  color: #fff;
  border-color: #285e8e;
  margin-top: 7px;
  margin-left: 30px;
}








